<nav>
  <div class="row">
    <div class="col-lg-2">
      <a href="#" ng-click="goBack()" class="back-btn"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>
    <!-- <div class="col-lg-push-8 col-lg-2 lang">
      <a href="#">RU</a> | <a href="#">EN</a>
    </div> -->
  </div>
</nav>
