<form name="form" ng-submit="save()">
  <div class="detail-news-container container">
    <div class="row">
      <div class="row">
        <div class="col-lg-4">
          <h3>Title : </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <textarea rows="2" maxlength="30" ng-model="news.title" required/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-lg-4">
          <h3>Short : </h3>
        </div>
      </div>
      <div class="row">
        <div class="clo-lg-12 col-md-12">
          <textarea rows="4" maxlength="100" ng-model="news.shortText" required/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-lg-4">
          <h3>Full : </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <textarea rows="10" maxlength="2000" ng-model="news.fullText" required/>
        </div>
      </div>
    </div>

    <div class="row authors">
      <div class="col-lg-5">
        Authors:
        <div ng-repeat="author in news.authors">
          {{ author.name }} <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="removeAuthor(author)"></span>
        </div>
      </div>
      <div class="col-lg-push-6 col-lg-1 plus">
        <button ng-click="openAuthorsModal($event, 'md')" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      </div>
    </div>
    <!--Tags-->
    <div class="row tags">
      <div class="col-lg-5">
        Tags:
        <div ng-repeat="tag in news.tags">
          {{ tag.name }} <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="removeTag(tag)"></span>
        </div>
      </div>
      <div class="col-lg-push-6 col-lg-1 plus">
        <button ng-click="openTagsModal($event, 'md')" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      </div>
    </div>

    <div class="row">
      <button ng-click="cancel($event)" class="btn col-lg-offset-6 col-lg-2">Cancel</button>
      <button type="submit" ng-disabled="form.$invalid" class="btn col-lg-push-1 col-lg-2">Save</button>
    </div>
  </div>
</form>
