.detail-news-container {
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

.detail-news-container .container {
  width: 40%;
}

/*.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    overflow: auto;
    background-color: rgba(100,100,100, 0.6);
    border: 1px solid black;
}*/

.selector {
  margin: 2% 0;
  height: 50%;
}

.authors, .tags {
  border: 1px solid black;
  margin: 2%;
  padding: 1%;
  text-align: left;
}

.plus {
  text-align: right;
}
