<div class="container">
  <div class="row">
    <div class="col-lg-push-3 col-lg-6 error">
      <h2>Error</h2>
    </div>
  </div>
  <div class="row" ng-show="text != null">
    <div class="col-lg-12">
      {{ text }}
    </div>
  </div>
</div>
