html {
  height: 100%;
  width: 100%;
}

body {
  background: url("/assets/resources/img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: large;
  height: 100%;
}

.main-title {
  font-size: 300%;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: auto;
  padding: 1% 3%;
  background-color: rgba(255, 255, 255, 0.9);
}
