<div class="modal-header">
  <div class="container">
    <div class="col-lg-4">
      <h3 class="modal-title">Authors</h3>
    </div>
    <div class="col-lg-1 col-lg-push-7">
      <div class="col-lg-1 col-lg-push-11 remove-btn">
        <a href="#" ng-click="closeModal()"><span class="glyphicon glyphicon-remove" ></span></a>
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          All authors:
        </div>
        <div class="scroll-view">
          <div ng-repeat="author in authors">
            <a href="#" ng-click="moveAuthorToCriteria(author)">{{ author.name }}</a>
            <a href="#" ng-click="removeAuthor(author)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="row">
          <div>
            New author:
          </div>
          <input type="text" ng-model="newAuthor.name" class="col-lg-10"/>
          <a href="#" ng-click="addAuthor($event)" class="col-lg-2"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          Authors in criteria :
        </div>
        <div class="scroll-view">
          <div ng-repeat="author in criteriaAuthors">
            <a href="#" ng-click="moveAuthorFromCriteria(author)">{{ author.name }}</a>
            <a href="#" ng-click="removeAuthor(author)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="modal-footer">
   <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>
