.content {
  padding: 1%;
  margin-top: -5px;
}

.page {
  background-color: white;
  padding: 1%;
  border: 1px solid black;
  font-size: x-large;
}

.paging {
  text-align: center;
}

.paging a {
  color: black;
}

.paging a:hover {
  text-decoration: none;
  color: #3DCFFF;
}

.news-options, .news-date {
  text-align: right;
}

.empty-list {
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
}
