.news-container {
  border: 2px solid black;
  margin: 1% auto;
  padding: 1%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-title {
  font-size: xx-large;
  font-weight: bold;
}

.news-date, .news-pagination {
  text-align: center;
}
