<div class="empty-list" ng-if="news.length === 0">
  Nothing found.
</div>
<div ng-repeat="n in news" class="news-container">
  <div class="row news-date">
    <div class="col-lg-push-10 col-lg-2">
      {{ n.creationDate | date: "dd-MM-yy" }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 news-title">
      {{ n.title }}
    </div>
  </div>
  <div class="row">
    <div class="cont col-lg-12 col-md-12 col-sm-12">
      {{ n.shortText }}
    </div>
  </div>

  <div class="row" ng-if="n.tags.length != 0">
    <span class="col-lg-5">Tags :</span>
    <div class="col-lg-12 details-tags">
      <span ng-repeat="tag in n.tags">
        #{{ tag.name }}<span ng-if="n.tags.indexOf(tag) + 1 != n.tags.length">,</span>
      </span>
    </div>
  </div>
  <div class="row" ng-if="n.authors.length != 0">
    <span class="col-lg-5">Authors :</span>
    <div class="col-lg-12 details-authors">
      <span ng-repeat="author in n.authors">
        {{ author.name }}<span ng-if="n.authors.indexOf(author) + 1 != n.authors.length">,</span>
      </span>
    </div>
  </div>

  <div class="row news-options">
    <div class="col-lg-push-9 col-lg-3">
      <a href="#" ui-sref="news.details({id : n.id})">View</a>
      <a href="#" ui-sref="news.edit({id : n.id})">Edit</a>
      <a href="#" ng-click="deleteNews(n.id)">Delete</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-push-2 news-pagination">
    <uib-pagination
                 boundary-link-numbers="true"
                 direction-links="true"
                 rotate="true"
                 total-items="totalItems"
                 ng-model="page"
                 items-per-page="itemsPerPage"
                 max-size="maxSize"
                 class="pagination-sm"
                 ng-change="loadNews(page - 1)"
                 previous-text="<"
                 next-text=">">
               </uib-pagination>
  </div>
</div>
