<div class="modal-header">
   <h3 class="modal-title">Comments</h3>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row" ng-repeat="n in tops">
      <a href="#" ng-click="selectComments($event, n)">Top {{ n }}</a>
    </div>
  </div>
</div>
<div class="modal-footer">
   <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
