#details-container {
  width: 100%;
  border: 1px solid black;
}

#details-container > .row {
  margin: 2%;
}

#details-container .date {
  font-size: medium;
  font-style: italic;
}

#details-container .title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-size: x-large;
}

#details-container .short-text,
#details-container .full-text {
  font-size: large;
  text-align: justify;
  margin: 1%;
  padding: 2%;
}

textarea {
  resize: none;
  width: 100%;
}

.details-tags {
  font-style: italic;
  font-size: large;
  color: blue;
}

.details-authors {
  font-style: italic;
  font-size: large;
  color: green;
}

.comment {
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-comment {
  border: 1px solid black;
  background-color: white;
  margin: 1%;
  padding: 1%;
}

.user-comment .date {
  font-size: small;
}

.news-comment-close-btn, .news-comment-date {
  text-align: right;
}

.glyphicon-remove-circle:hover {
  color: red;
}
