<div id="details-container" class="container">
  <div class="row">
    <div class="col-lg-3 col-lg-push-9 news-date">
      {{ news.creationDate | date: "dd-MM-yy"}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 title">
      {{ news.title }}
    </div>
  </div>
  <div class="row short-text">
    <div class="col-lg-12 col-sm-12 col-md-12">
      {{ news.shortText }}
    </div>
  </div>
  <div class="row full-text">
    <div class="col-lg-12 col-md-12 col-sm-12">
      {{ news.fullText }}
    </div>
  </div>
  <div class="row" ng-if="news.tags.length != 0">
    <span>Tags :</span>
    <div class="row">
      <div class="col-lg-12 details-tags">
        <span ng-repeat="tag in news.tags">
          #{{ tag.name }}<span ng-if="news.tags.indexOf(tag) + 1 != news.tags.length">,</span>
        </span>
      </div>
    </div>
  </div>
  <div class="row" ng-if="news.authors.length != 0">
    <span>Authors :</span>
    <div class="row">
      <div class="col-lg-12 details-authors">
        <span ng-repeat="author in news.authors">
          {{ author.name }}<span ng-if="news.authors.indexOf(author) + 1 != news.authors.length">,</span>
        </span>
      </div>
    </div>

  </div>
  <div class="row">
    <textarea autofocus="true" maxlength="100" rows="3" ng-model="comment"/>
  </div>
  <div class="row">
    <a href="#" ng-click="add()">
      <span>Add comment</span>
    </a>
  </div>
  <div class="row">
    <h3>Comments :</h3>
  </div>
  <div class="user-comment" ng-if="pageComments == 0">
    There are no comments.
  </div>
  <div class="comments">
    <div class="user-comment row" ng-repeat="comment in pageComments">
      <div class="row news-comment-close-btn">
        <div class="col-lg-push-10 col-lg-2">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="deleteComment(comment)"></span>
        </div>
      </div>
      <div class="row news-comment-date">
        <div class="date col-lg-push-9 col-lg-3">
            {{ comment.creationDate | date: "dd-MM-yy, HH:mm:ss" }}
        </div>
      </div>
      <div class="row">
        <div class="comment col-lg-12">
            {{ comment.text }}
        </div>
      </div>
    </div>
    <div class="row" ng-if="pageComments != 0">
      <div class="col-lg-8 col-lg-push-2 news-pagination">
        <uib-pagination
                     boundary-link-numbers="true"
                     direction-links="true"
                     rotate="true"
                     total-items="totalItems"
                     ng-model="page"
                     items-per-page="itemsPerPage"
                     max-size="maxSize"
                     class="pagination-sm"
                     ng-change="changeComments(page - 1)"
                     previous-text="<"
                     next-text=">">
                   </uib-pagination>
      </div>
    </div>
  </div>
</div>
