<menu>
  <div class="container">
    <div class="row">
      <a href="#" ui-sref="default" class="menu-item" ui-sref-active="active">Main</a>
    </div>
    <div class="row">
      <a href="#" class="menu-item" ui-sref="news.add" ui-sref-active="active">Add news</a>
    </div>
    <div class="row">
      <div class="row">
        <a href="#" class="menu-item col-lg-12" ng-click="showTagsModal($event, 'md')">Tags</a>
      </div>
      <div class="scroll-view" ng-if="criteria.tags.length > 0">
        <div class="col-lg-push-1 col-lg-11" ng-repeat="tag in criteria.tags">
          {{ tag.name }} <a href="#" ng-click="removeTag(tag)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <a href="#" class="menu-item col-lg-12" ng-click="showAuthorsModal($event, 'md')">Authors</a>
      </div>
      <div class="scroll-view" ng-if="criteria.authors.length > 0">
        <div class="col-lg-push-1 col-lg-11" ng-repeat="author in criteria.authors">
          {{ author.name }} <a href="#" ng-click="removeAuthor(author)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ></span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <a href="#" class="menu-item" ng-click="showCommentsModal($event)">Comments</a>
      <div class="col-lg-12" ng-show="criteria.top != null" style="font-size: small;">
        Top {{ criteria.top }} news <a href="#" ng-click="removeTopComments()"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ></span></a>
      </div>
    </div>
  </div>
</menu>
