menu .container {
  background-color: transparent;
  font-size: medium;
}

.menu-item {
  font-size: x-large;
  color: black;
  text-decoration: none;
}

.menu-item:hover, .menu-item:focus, .active {
  text-decoration: none;
  color: rgb(5, 150, 164);
}
