<div class="modal-header">
   <h3 class="modal-title">Tags</h3>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <select class="col-lg-12 selector" ng-options="tag as tag.name for tag in tags | filter : filterText" ng-model="selected" MULTIPLE size="5"/>
    </div>
    <div class="row">
      <input type="text" ng-model="filterText" class="col-lg-12"/>
    </div>
  </div>
</div>
<div class="modal-footer">
   <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
   <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
